html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

dl,
dt,
dd,
ol,
ul,
li {
  list-style: none;
}

html,
body {
  height: 100%!important;
  margin: 0;
  /* *+height: auto; */
  font-family: 'PingFang SC', 'Microsoft Yahei', 'SimHei';
  font-size: 14px!important;
}

::-webkit-scrollbar {
  -webkit-appearance: none
}

::-webkit-scrollbar-button {
  display: none
}


/* ::-webkit-scrollbar-track {
    background: #fff;
} */

::-webkit-scrollbar-corner {
  background: rgba(255, 255, 255, 0.1);
}


/* ::-webkit-scrollbar-thumb {
    background: rgb(210, 210, 210);
    border-radius: 4px
} */

::-webkit-scrollbar-thumb:active {
  background: rgb(138, 138, 138);
}

::-webkit-scrollbar:vertical {
  width: 8px
}

::-webkit-scrollbar:horizontal {
  height: 8px
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px!important;
  background-color: #9db1c1!important;
}

a,
button,
.selection span,
input[type="checkbox"] {
  outline: none!important;
}

.clearfix::after {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
  display: block;
  content: "";
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.el-loading-mask {
  z-index: 100 !important;
}
